*
!about.html
!assets/
!assets/*
!assets/buttons/
!assets/buttons/*
!assets/css/
!assets/css/*
!assets/favicon/
!assets/favicon/*
!assets/fonts/
!assets/fonts/*
!assets/js/
!assets/js/*
!blog.html
!_config.yml
.DS_Store
!Gemfile
!Gemfile.lock
!_includes/
!_includes/*
!_layouts/
!_layouts/*
!_posts/
!_posts/*
!projects/
!projects/*
!index.html
!photos.html
!projects.html
!wrangler.jsonc