<div class="buttons">
    <div class="buttons-set">
        <img src="/assets/buttons/88by31.gif" alt="88by31" />
        <img src="/assets/buttons/2001.gif" alt="2001" />
        <img src="/assets/buttons/besteyes2.gif" alt="besteyes2" />
        <img src="/assets/buttons/blink-0.gif" alt="blink-0" />
        <img src="/assets/buttons/fic002.gif" alt="fic002" />
        <img src="/assets/buttons/hasmile.gif" alt="hasmile" />
        <img src="/assets/buttons/strawberry.gif" alt="strawberry" />
        <img src="/assets/buttons/www2.gif" alt="www2" />
    </div>
</div>
