<div class="left">
    <div class="left-links">
        <div class="left-links-header">
            links
            <span class="window-close">×</span>
        </div>
        <div class="left-links-content">
            <a href="https://github.com/jaaccc">github<br /></a>
            <a href="https://www.linkedin.com/in/jaaccc/">linkedin<br /></a>
            <a href="https://unsplash.com/@jaaccc">unsplash<br /></a>
        </div>
    </div>

    <div class="left-navigation">
        <div class="left-navigation-header">
            navigation
            <span class="window-close">×</span>
        </div>
        <div class="left-navigation-content">
            <a href="/index.html">index<br /></a>
            <a href="/about.html">about<br /></a>
            <a href="/projects.html">projects<br /></a>
            <a href="/photos.html">photos<br /></a>
            <a href="/blog.html">blog<br /></a>
        </div>
    </div>
</div>
