<div class="left">
    <div class="window">
        <div class="header">
            links
            <span class="close">×</span>
        </div>
        <div class="content">
            <a href="https://github.com/jaaccc">github<br /></a>
            <a href="https://www.linkedin.com/in/jaaccc/">linkedin<br /></a>
            <a href="https://unsplash.com/@jaaccc">unsplash<br /></a>
        </div>
    </div>

    <div class="window">
        <div class="header">
            navigation
            <span class="close">×</span>
        </div>
        <div class="content">
            <a href="/index.html">index<br /></a>
            <a href="/about.html">about<br /></a>
            <a href="/projects.html">projects<br /></a>
            <a href="/photos.html">photos<br /></a>
            <a href="/blog.html">blog<br /></a>
        </div>
    </div>

    <div class="window">
        <div class="header">
            projects
            <span class="close">×</span>
        </div>
        <div class="content">
            <a href="../projects/keep.html">keep<br /></a>
        </div>
    </div>
</div>
