<div class="right">
    <div class="right-photography">
        <div class="right-photography-header">
            photography
            <span class="window-close">×</span>
        </div>

        <div class="right-photography-content">under construction</div>
    </div>

    <div class="right-updates">
        <div class="right-updates-header">
            updates
            <span class="window-close">×</span>
        </div>

        <div class="right-updates-content" id="updates">loading...</div>
    </div>
</div>
