* {
    font-family: "Pixelated MS Sans Serif";
    font-size: 14px;
}

.banner {
    background-color: #ccddff;
    border: 1px solid #000000;
    box-sizing: border-box;
    height: 150px;
    margin: 0 auto 10px;
    width: min(800px, 100%);
}

body {
    background-color: #667799;
}

.buttons {
    border: 1px solid #000000;
    box-sizing: border-box;
    margin: 10px auto 0;
    padding: 10px;
    width: min(800px, 100%);
}

.buttons-set {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.footer {
    margin: 0 auto;
    text-align: center;
    width: min(800px, 100%);
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("../fonts/ms_sans_serif.woff2") format("woff2");
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    font-weight: bold;
    src: url("../fonts/ms_sans_serif_bold.woff2") format("woff2");
}

.index {
    border: 1px solid #000000;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    padding: 5px;
    width: min(800px, 100%);
}

.index-left {
    box-sizing: border-box;
    padding: 5px;
    width: 200px;
}

.index-left-links,
.index-left-navigation,
.index-middle-home,
.index-right-photography,
.index-right-updates {
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.index-left-links-content,
.index-left-navigation-content,
.index-middle-home-content,
.index-right-photography-content,
.index-right-updates-content {
    background-color: #ccddff;
    color: #223355;
    min-height: 80px;
    padding: 10px;
}

.index-left-links-header,
.index-left-navigation-header,
.index-middle-home-header,
.index-right-photography-header,
.index-right-updates-header {
    background-color: #667799;
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
    color: #ccddff;
    font-weight: bold;
    padding: 3px 5px;
}

.index-middle {
    box-sizing: border-box;
    padding: 5px;
    width: 400px;
}

.index-right {
    box-sizing: border-box;
    padding: 5px;
    width: 200px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    width: min(800px, 100%);
}

.navigation a {
    color: #223355;
    text-decoration: none;
}

.window-close {
    float: right;
}
